@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

$card-header-padding: 0.5rem 1rem;
$card-content-padding: 1.0rem;
$card-footer-padding: 0.25rem;
$panel-heading-padding:	0.5em 1em;

@import "~bulma/bulma";
